html{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body .menu_bar{
    background: #030b1c;
    width: 15%;
    height: 100%;
}

body .menu_bar .logo_tab{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

body .menu_bar .logo_tab .logo{
    width: 50%;
    margin-left: 1%;
}

body .menu_bar .logo_tab .setting{
    width: 10%;
    align-content: center;
    margin-right: 5%;
}

body .menu_bar .menu_lsit{
    margin-top: 10%;
    height: 100%;
}

body .menu_bar .menu_lsit li{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    color: #ffffff;
}

body .menu_bar .menu_lsit li img{
    width: 10%;
}